@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
h2 {
  font-size: 2.5rem;
  padding: 30px 0;
  font-weight: 900;
}

.volume-name {
  margin: 20px;
  font-weight: bold;
}

.volume-name:hover {
  font-size: 20px;
}

#display {
  margin: 20px;
}